body {
	background-image: url(/public/assets/web/img/bg.png);
	background-repeat: repeat;
}

.light-style .navbar.landing-navbar {
	border-color: orange;
}

#dashboard-article-list {
}

#dashboard-article-list a:first-child {
	font-size: 170% !important;
}

#dashboard-article-list a:nth-child(2) {
	font-size: 150% !important;
}

#dashboard-article-list a:nth-child(3) {
	font-size: 140% !important;
}

#dashboard-article-list a:nth-child(4) {
	font-size: 130% !important;
}

#dashboard-article-list a:nth-child(5) {
	font-size: 120% !important;
}

#fullpage-dropzone {

}

.dz-started .dz-message {
	display: none !important;
}

#fullpage-dropzone .dz-preview {
	margin-left: 0;
	margin-top: 0;
}

@media (min-width: 576px) {
	#fullpage-dropzone .dz-preview {
		display: inline-block;
		width: 100%;
	}
	#fullpage-dropzone .dz-thumbnail {
		width: calc(100% - 1.25rem);
		height: 40rem;
	}
}
