body {
	background-image: url(/public/assets/web/img/bg.png);
	background-repeat: repeat;
}

.light-style .navbar.landing-navbar {
	border-color: orange;
}


/********************************************
* [data-class="dashboard"]
********************************************/
[data-class="dashboard"] #dashboard-article-list {
}

[data-class="dashboard"] #dashboard-article-list a:first-child {
	font-size: 170% !important;
}

[data-class="dashboard"] #dashboard-article-list a:nth-child(2) {
	font-size: 150% !important;
}

[data-class="dashboard"] #dashboard-article-list a:nth-child(3) {
	font-size: 140% !important;
}

[data-class="dashboard"] #dashboard-article-list a:nth-child(4) {
	font-size: 130% !important;
}

[data-class="dashboard"] #dashboard-article-list a:nth-child(5) {
	font-size: 120% !important;
}

/********************************************
* [data-class="works"]
* [data-class="myWorks"]
********************************************/
[data-class="works"] #fullpage-dropzone,
[data-class="myWorks"] #fullpage-dropzone{

}

[data-class="works"] .dz-started .dz-message,
[data-class="myWorks"] .dz-started .dz-message {
	display: none !important;
}

[data-class="works"] #fullpage-dropzone .dz-preview,
[data-class="myWorks"] #fullpage-dropzone .dz-preview {
	margin-left: 0;
	margin-top: 0;
}

@media (min-width: 576px) {
	[data-class="works"] #fullpage-dropzone .dz-preview,
	[data-class="myWorks"] #fullpage-dropzone .dz-preview {
		display: inline-block;
		width: 100%;
	}
	[data-class="works"] #fullpage-dropzone .dz-thumbnail,
	[data-class="myWorks"] #fullpage-dropzone .dz-thumbnail {
		width: calc(100% - 1.25rem);
		height: 40rem;
	}
}

@media (max-width: 576px) {
	[data-class="works"] .btn-wrap .btn-wrap-left,
	[data-class="myWorks"] .btn-wrap .btn-wrap-left {
		display: flex !important;
		justify-content: space-between;
	}
	[data-class="works"] .btn-wrap .btn-wrap-left:has(button),
	[data-class="myWorks"] .btn-wrap .btn-wrap-left:has(button) {
		margin-bottom: 1rem;
	}
	[data-class="works"] .btn-wrap .btn-wrap-left button,
	[data-class="myWorks"] .btn-wrap .btn-wrap-left button {
		width: 30% !important;
		font-size: 0.75rem;
		padding-left: 0;
		padding-right: 0;
	}
	[data-class="works"] .btn-wrap .btn-wrap-right,
	[data-class="myWorks"] .btn-wrap .btn-wrap-right {
		display: flex !important;
		justify-content: space-between;
	}
	[data-class="works"] .btn-wrap .btn-wrap-right button,
	[data-class="myWorks"] .btn-wrap .btn-wrap-right button {
		width: 30% !important;
	}
}

/********************************************
* #comment-list
********************************************/
#comment-list .comment-info {
	flex: 1 1 auto !important;
	display: flex;
}

@media (max-width: 576px) {
	#comment-list {
		padding: .5rem 1rem !important;
	}
	#comment-list li {
		padding: .5rem 0 !important;
	}
	#comment-list .comment-info>div {
		width: 100% !important;
		margin-right: 0 !important;
	}
	#comment-list .comment-info>div {
		margin-bottom: .5rem;
	}
	#comment-list .comment-wrap {
		flex-direction: column;
	}
	#comment-list .comment-info {
		flex-direction: column;
	}
	#comment-list .comment-btns  {
		justify-content: space-between !important;
	}
	/*#comment-list .comment-btns>div:first-child {*/
	/*	width: 100%;*/
	/*	margin-top: 1rem;*/
	/*	display: flex;*/
	/*	justify-content: flex-end;*/
	/*	align-items: center;*/
	/*}*/
}
