/********************************************
* [data-class="dashboard"]
********************************************/
[data-class="dashboard"] #dashboard-article-list {
}

[data-class="dashboard"] #dashboard-article-list a:first-child {
	font-size: 170% !important;
}

[data-class="dashboard"] #dashboard-article-list a:nth-child(2) {
	font-size: 150% !important;
}

[data-class="dashboard"] #dashboard-article-list a:nth-child(3) {
	font-size: 140% !important;
}

[data-class="dashboard"] #dashboard-article-list a:nth-child(4) {
	font-size: 130% !important;
}

[data-class="dashboard"] #dashboard-article-list a:nth-child(5) {
	font-size: 120% !important;
}
